<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687551167362-08h9r1ii9f1878hm23j0m868lql0j9g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687551167362-08h9r1ii9f1878hm23j0m868lql0j9g0</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ6RwBMURjXWFgl8t9USbAKQod31cGycw</string>
	<key>GCM_SENDER_ID</key>
	<string>687551167362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.illinois.atlas.muppy</string>
	<key>PROJECT_ID</key>
	<string>muppy-c20f2</string>
	<key>STORAGE_BUCKET</key>
	<string>muppy-c20f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687551167362:ios:2422e521c76cf68fbd6d9b</string>
	<key>DATABASE_URL</key>
	<string>https://muppy-c20f2.firebaseio.com</string>
</dict>
</plist>